.Menu-Simples{
    display: flex;
    justify-content: space-between;
    background-color: rgb(18, 34, 152);
    box-shadow: 20px 10px 20px;
    padding: 18px;
    border-radius: 40px;
    color: rgb(220, 226, 241);
    align-items: center;
    text-shadow: 10px 5px 20px;
}

.Menu-Simples nav a{
    color: rgb(232, 4, 4);
    margin-left: 15px;
    background-color: rgb(25, 22, 121);
    border-radius: 5px;
    padding: 5px 10px 5px;
}
body{
    background-color: rgb(216, 219, 221);
}

.input{
    margin-top: 20px;
    background-color: rgb(49, 76, 210);
    text-align: center;
    
    padding: 10px;
    border-radius: 20px;
}

input{
    margin-top: 10px;
}

.campos{
    
    display: flex;
    flex-direction: column;
}

.input h1{
    padding: 30px;
    text-shadow: 0px 1px 10px;
    color: rgb(244, 244, 244);
}


    
